* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1b1b1c;
    background-size: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

h1{
    color: #fff;
    font-size: 35px;
    text-align: center;
}

.rr {
    display: none;
    color: #000000;
    text-shadow: 1px 1px #fff, -1px -1px #fff;
    margin-top: 430px;
}

#btn {
    display: none;
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background: #1a1a5c;
    color: #fff;
    letter-spacing: 2px;
    margin: 10px auto;
    padding: 15px 40px;
}
